<div class="form">
    <h2>Enter your data</h2>
    <mat-form-field class="datain">
        <h3>Enter your e-mail:</h3>
        <mat-label>Enter here</mat-label>
    </mat-form-field>
    <input matInput>
    <mat-form-field class="datain">
        <h3>New password:</h3>
        <mat-label>Enter here</mat-label>
    </mat-form-field>
    <input matInput>
    <mat-form-field class="datain">
        <h3>Confirm password:</h3>
        <mat-label>Enter here</mat-label>
    </mat-form-field>
    <input matInput>
    <div class="confirm">
        <button routerLink="/home">Enter</button>
    </div>
</div>