<mat-toolbar>
    <button mat-icon-button routerLink="/options">
        <mat-icon class="toolicon">menu</mat-icon>
    </button>
    <a href="/home">
        <h1>
            <span>GO-CAREER</span>
        </h1>
    </a>
    <button mat-icon-button routerLink="/user">
        <mat-icon class="toolicon">person</mat-icon>
    </button>
</mat-toolbar>
<div>
    <mat-card class="date">
        <mat-card-content>
            <h3>Capacitación SCRUM con Angela Acosta</h3>
            <div class="info">
                <mat-icon>calendar_today</mat-icon>
                <h3><span>05/07/2023 15:00</span></h3>
            </div>
            <button>Remind me</button>
        </mat-card-content>
    </mat-card>
    <mat-card class="date">
        <mat-card-content>
            <h3>Sesión con Luis Alberto Spinazola</h3>
            <div class="info">
                <mat-icon>calendar_today</mat-icon>
                <h3><span>01/07/2023 11:30</span></h3>
            </div>
            <button>Remind me</button>
        </mat-card-content>
    </mat-card>
    <mat-card class="date">
        <mat-card-content>
            <h3>Sesión con Luis Alberto Spinazola</h3>
            <div class="info">
                <mat-icon>calendar_today</mat-icon>
                <h3><span>23/06/2023 12:30</span></h3>
            </div>
            <button disabled>Checked</button>
        </mat-card-content>
    </mat-card>    
</div>
