<mat-toolbar>
    <button mat-icon-button routerLink="/options">
        <mat-icon class="toolicon">menu</mat-icon>
    </button>
    <a href="/home">
        <h1>
            <span>GO-CAREER</span>
        </h1>
    </a>
    <button mat-icon-button routerLink="/user">
        <mat-icon class="toolicon">person</mat-icon>
    </button>
</mat-toolbar>
<div class="options">
    <div  class="opt">
        <mat-icon>spellcheck</mat-icon>
        <a href="/test"><h3>Realizar Test</h3></a>
    </div>
    <div class="opt">
        <mat-icon>people</mat-icon>
        <a href="/specialist" ><h3>Especialistas</h3></a>
    </div>
    <div class="opt">
        <mat-icon>dashboard</mat-icon>
        <a href="/articles"><h3>Articulos Guardados</h3></a>
    </div>
    <div class="opt">
        <mat-icon>playlist_add_check</mat-icon>
        <a href="/dates"><h3>Citas Agendadas</h3></a>
    </div>
    
</div>
