<mat-toolbar>
    <button mat-icon-button routerLink="/options">
        <mat-icon class="toolicon">menu</mat-icon>
    </button>
    <a href="/home">
        <h1>
            <span>GO-CAREER</span>
        </h1>
    </a>
    <button mat-icon-button routerLink="/user">
        <mat-icon class="toolicon">person</mat-icon>
    </button>
</mat-toolbar>
<div class="recommendations">
    <h2>Especialistas recomendados para ti</h2>
    <mat-card class="expert">
        <mat-card-content class="desc">
            <p>
                Conoce a la experta en metodología SCRUM Angela Acosta.
                Ven y descubre como implementar esta técnica en tu trabajo soñado
            </p>
            <img src="" alt="">
        </mat-card-content>
        <mat-card-footer>
            <button>Make an appointment</button>
        </mat-card-footer>
    </mat-card>
    <mat-card class="expert">
        <mat-card-content class="desc">
            <p>
                Mejora tus capacidades en conversación con Luis Alberto Spinazola.
                Agenda una cita ahora y descubre tu nivel de escucha y respuesta.
            </p>
            <img src="" alt="">
        </mat-card-content>
        <mat-card-footer>
            <button>Make an appointment</button>
        </mat-card-footer>
    </mat-card>
</div>