<div class="newuser">
    <div class="logo">
        <img src="C:\Users\Marcos\Documents\UPC\Open Source\Nueva carpeta\GoCarrer\src\assets\shared\Thinking.png" alt="">
    </div>
    <div class="data">
        <h2><span>Llena tus datos aquí</span></h2>
        <mat-form-field>
            <h3>First Name please:</h3>
            <mat-label>First Name</mat-label>
        </mat-form-field>
        <input matInput>
        <mat-form-field>
            <h3>Last Name please:</h3>
            <mat-label>Last Name</mat-label>
        </mat-form-field>
        <input matInput>
        <mat-form-field>
            <h3>Create an username:</h3>
            <mat-label>Create a Username</mat-label>
        </mat-form-field>
        <input matInput>
        <mat-form-field>
            <h3>Enter your personal e-mail:</h3>
            <mat-label>E-mail</mat-label>
        </mat-form-field>
        <input matInput>
        <mat-form-field>
            <h3>Create a password:</h3>
            <mat-label>E-mail</mat-label>
        </mat-form-field>
        <input matInput>
    </div>
    <div class="register">
        <button routerLink="/home"><span>Create account</span></button>
    </div>
</div>
