*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    margin-bottom: 5%;
}
.newuser{
    background-color: #03A9F4;
    align-items: center;
    border: 1px black;
    border-radius: 3rem;
    width: 44%;
    margin-left: 23.75rem;
}
.logo{
    width: 6.25rem;
    height: 6.25rem;
}
.data{
    align-items: center;
    width: 25rem;
    margin-left: 15%;
}
.register{
    margin-left: 26.5%;
}
.register button{
    background-color: #03A9F4;
    color: white;
    border-radius: 5rem;
    align-items: center;
    width: 12.5rem;
    height: 1.75rem;
    font-size: 1.25rem;
}