<mat-toolbar>
    <button mat-icon-button routerLink="/options">
        <mat-icon class="toolicon">menu</mat-icon>
    </button>
    <a href="/home">
        <h1>
            <span>GO-CAREER</span>
        </h1>
    </a>
    <button mat-icon-button routerLink="/user">
        <mat-icon class="toolicon">person</mat-icon>
    </button>
</mat-toolbar>
<div class="userdata">
    <mat-card class="datacard">
        <mat-card-header>
            <h1 class="username">Bienvenido Jor_G36</h1>
        </mat-card-header>
        <mat-card-content>
            <h2>Name: Jorge García</h2>
            <h2>E-mail: jg31396@newmail.com</h2>
            <h2>Telephone: 326958714</h2>
            <h2>Birth Date: 31/3/96</h2>
            <h2>Description:</h2>
            <p>
                Actualmente tengo 26 años. Me he graduado como profesor en la Universidad Peruana de Ciencias Aplicadas.
                Me encuentro buscando trabajos en escuelas de nivel superior, pero temo que tal vez mi personalidad no sea 
                la adecuada para conocer mejor a los alumnos que pueda tener.
            </p>
        </mat-card-content>
        <mat-card-footer>
            <button><span>Edit Data</span></button>
            <button routerLink="/enter"><span>Sign out</span></button>
        </mat-card-footer>
    </mat-card>
</div>
