<mat-toolbar>
    <button mat-icon-button routerLink="/options">
        <mat-icon class="toolicon">menu</mat-icon>
    </button>
    <a href="/home">
        <h1>
            <span>GO-CAREER</span>
        </h1>
    </a>
    <button mat-icon-button routerLink="/user">
        <mat-icon class="toolicon">person</mat-icon>
    </button>
</mat-toolbar>
<div class="articles">
    <h2>These are some enterprises you can try to apply now</h2>
    <mat-card class="exart">
        <p>
            UPC is hiring new practicants.
            Exigete, Innova
        </p>
        <button mat-icon-button><mat-icon>check_circle_outline</mat-icon></button>
        <button mat-icon-button><mat-icon>not_interested</mat-icon></button>
    </mat-card>
    <mat-card class="exart">
        <p>
            Cesar Vallejo University is training new teachers for
            new courses.
        </p>
        <button mat-icon-button><mat-icon>check_circle_outline</mat-icon></button>
        <button mat-icon-button><mat-icon>not_interested</mat-icon></button>
    </mat-card>
    <mat-card class="exart">
        <p>
            The UNI wants to improve the future
            Wanna be part of it?
        </p>
        <button mat-icon-button><mat-icon>check_circle_outline</mat-icon></button>
        <button mat-icon-button><mat-icon>not_interested</mat-icon></button>
    </mat-card>
</div>
